* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prodotti {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

.prodotto {
    display: inline-block;
    position: relative;
}

.sconto {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    text-align: center;
    padding-top: 13px;
    color: black;
    font-size: 20px;
}

.scontored {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    text-align: center;
    padding-top: 13px;
    color: black;
    font-size: 20px;
}

.heart {
    position: absolute;
    display: inline-block;
    color: black;
    font-size: 30px;
    bottom: 10px;
    left: 120px;
    display: none;

}

.prodotto:hover .heart {
    display: block;
}

.prodotto:hover .heart:hover{
    color: red;
}
